
<form asp-action="CardGameResult" asp-controller="Home">

    <h2>Welcome to Card War.</h2>
    <p>Press the button to begin</p>

@*    <input type="number" name="key" min="1" max="52" />*@

    <input type="submit" name="Here" />

</form>

