

<form asp-action="HandResult" asp-controller="Home">

    @*    <h2>Click to draw 5 cards</h2>*@

    <h2>How many cards do you want to draw?</h2>

    <input type="number" name="key" min="1" max="52" />

    <input type="submit" />

</form>