@model CreateDeck

<p>Deck Id: @Model.deck_id</p>

<p><a href="https://localhost:7090/Home/DrawNum">Draw # of Cards </a> </p>

<p><a href="https://localhost:7090/Home/CardGame">Play Card War [2P]</a> </p>